@import url("variable.css");
@import url("reset.css");

body {
  background: var(--bg-app);
}

.app {
  background: var(--blue-primary);
  display: flex;
  height: 100vh;
  padding: 16px;
  gap: 16px;
}

/* CONTENT */
.content {
  flex: 1;
  background: var(--bg-app);
  border-radius: var(--radius-lg);
  padding: 32px;
  overflow-y: auto;
}


/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.header h1 {
  font-size: 22px;
  color: var(--text-dark);
}

.header .user {
  color: var(--text-muted);
  font-size: 14px;
}


/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 32px;
}

.card {
  background: var(--bg-card);
  border-radius: var(--radius-md);
  padding: 20px;
  box-shadow: 0 10px 25px rgba(15, 23, 42, 0.06);
}

.card h3 {
  font-size: 14px;
  color: var(--text-muted);
}

.card p {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-dark);
}


/* TABLE */
.table-section {
  background: var(--bg-card);
  border-radius: var(--radius-md);
  padding: 24px;
  box-shadow: 0 10px 25px rgba(15, 23, 42, 0.06);
}

.table-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}


thead {
  background: var(--blue-soft);
}

th {
  font-size: 13px;
  color: var(--text-muted);
}

td {
  font-size: 14px;
  color: var(--text-dark);
}

tbody tr:hover {
  background: #f9fafb;
}

/* STATUS */
.status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.status.success {
  background: #dcfce7;
  color: #166534;
}

.status.pending {
  background: #fef3c7;
  color: #92400e;
}